.jumbotron{
	background-color:#2E2D88;
	color: white;
}
.jumbotron p{
	text-align: center;
	
}
.jumbotron-another{
	background-color:red;
}
.page-header{
	margin: 0;
	
}
.tab-content p{
	font-size: 15px;
}
.container h2{
	
	
}
.profiletext ul{
	font-size : 20px;
	margin: 20px 0px 20px 0px;
	padding: 0 0 0 20px;
}
.profiletext li{
	margin: 5px 0 5px 0;
	list-style-type: none;
}
.home-jumbotron p{
	font-size: 30px;
}
.home-jumbotron{
	background-color: #f16e23;
}
.nav-pills li.active a:hover, .nav-pills li.active a:focus, .nav-pills li.active a {
	background-color: #f16e23;
}
.nav-pills li a{
	color: #f16e23;
}
.course-ul p{
	font-size: 20px;
	color: #f16e23;
}
.course-ul{
	
}
